.comment-reply-title {
	font-family: 'Playfair Display';
	font-size: 20px;
	color: #b6b5a3;
	padding-bottom: 10px;
}

.comment-list li.depth-2 {
	left: 100px;
}

#email-notes, 
.comment-notes {
	font-family: 'Playfair Display';
	font-size: 16px;
	color: #626262;
	padding: 10px 0 10px 0;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-cookies-consent {
	font-family: 'Playfair Display';
	font-size: 16px;
	color: #626262;
	padding: 15px 0 15px 0;
}

.comment-form-author,
.comment-form-email {
	padding: 15px 15px 15px 0;
}

#author,
#email,
#url {
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	background-color: white;
	color: #626262;
	font-size: 16px;
}

#submit {
	width: 150px;
	height: 45px;
	background-color: white;
	border: 1px solid #c8c8c8;
	text-align: center;
	cursor: pointer;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	color: #b4b39f;
}

.form-submit {
	padding: 10px 50px 0 0;
	margin-left: 110px;
}

.comments-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #b4b39f;
	padding: 0 0 20px 0;
}

.photo {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.fn {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	color: #636363;
	font-weight: 700;
}

.fn a,
	.fn a:hover {
		text-decoration: none;
		color: #636363;
	}

.comment-author {
	margin-bottom: 13px;
}

.comment-list li {
	position: relative;
	margin-bottom: 55px;
}

.comment-body {
	margin-left: 110px;
}

.comment-form-comment label {
	display: none;
}

.comment-form-comment textarea {
	padding: 35px;
	width: 790px;
	height: 25px;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	font-family: 'Playfair Display';
	font-size: 16px;
	color: #626262;
}

.comment-body p {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	color: #616161;
	line-height: 30px;
}

.reply {
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 50px;
}

.comment-author .photo {
	position: absolute;
	top: 0;
	left: 0;
}

#respond,
.comment-respond a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #b4b39f;
	padding: 0 0 20px 0;
	text-decoration: none
}

#cancel-comment-reply-link {
	display: none;
}

.comment-respond {
	display: flex;
	flex-wrap: wrap;
}

.comment-form {
	display: flex;
	flex-wrap: wrap;
}

.comment-form-author {
	flex: 0 0 100%;
}

.comments-area {
	width: 960px;
}

.reply a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #aeae96;
	text-decoration: none;
}

.comment-awaiting-moderation {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	color: #aeae96;
	text-decoration: none;
	padding: 20px 0 20px 0;
}

.logged-in-as,
.logged-in-as a {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	color: #23282d;
	text-decoration: none;
	padding: 20px 0 20px 0;
}

.says,
.commentmetadata {
	display: none;
}

.logged-in-as {
	width: 110px;
}

.comment-form-comment {
	width: calc(100% - 110px);
}

.leave-comment,
.leave-comment a:hover {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #b4ad9e;
	padding: 50px 0 0 0;
	text-decoration: none;
}