@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}

	.container {
		width: calc(100% - 30px);
		padding: 0 15px;
	}

	.full-container {
		width: 1062px;
		margin: 0;
		padding: 0 0 80px 0;
	}

	.pagina {
		width: 100%;
	}

	.image {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}

	.post,
	.post p {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #7d7d7d;
	text-align: left;
	line-height: 1.714;
}

	.post-item-first {
		width: 100%;
	}

	.post-item-first .image {
		padding: 0;
	}

	.post-item-first .title-post {
		font-size: 25px;
		padding: 10px 0 80px 0;
	}

	.post-item .title-post a, .post-item .title-post a:hover {
		overflow: visible;
		display: initial;
	}

	.title-post {
		font-size: 25px;
		padding: 10px 0 30px 0;
	}

	.post {
		width: 100%;
	}

	.leave-comment {
		padding: 20px 0 50px 0;
	}

	.post-item {
		display: block;
		margin: 0;
		padding: 0 0 100px 0;
	}

	.post-item:not(.post-item-first):nth-child(2n),
	.post-item:not(.post-item-first):nth-child(2n+1) {
		flex: 0 0 100%;
		width: 100%;
		margin: 0;
	}

	.post-categories {
		padding: 10px 0 0 0;
	} 

	.newsletter p {
		font-size: 14px;
		margin-right: 10px;
	}

	.widget_mc4wp_form_widget .widget-title {
		padding: 73px 0 10px 0;
	}


	.enter-email {
		padding: 0;
		margin: 0;
		align-items: center;
	}
	.enter-email input[type="text"] {
		width: 220px;
	}

	.button-load_more {
		padding: 35px 0 200px 0;
		text-align: center;
	}

	.btn_loadmore {
		left: auto;
	}

	.footer {
		padding: 30px 30px 0 30px;
	}

	.footer ul {
		margin: 0;
	}

	.footer ul li a {
		display: block;
		padding-bottom: 20px;
	}

	.sidebar {
		display: none;
	}

	.principal-post {
		width: 100%;
		padding: 0;
		margin-bottom: 0;
	}

	.principal-post .post-categories {
		padding: 0;
	}

	.single-post img {
		width: 100%;
		height: auto;
	}

	.share {
		left: 30%;
		padding: 30px 0 115px 0px;
	}

	.recent-posts-widget-with-thumbnails {
		display: none;
	}

	.comments-title {
		padding: 0;
		font-size: 16px;
		margin-bottom: 40px;
	}

	.fn {
		font-size: 14px;
	}

	.fn a,
	.fn a:hover {
		text-decoration: none;
		color: #636363;
	}

	.comment-body p {
		font-size: 13px;
		line-height: 30px;
	}

	.comment-form-comment textarea {
		width: 100%;
		text-align: center;
		font-size: 15px;
	}

	.comment-form-comment {
	    width: calc(80% - 110px);
	    height: 50px;
	 }

	 #submit {
	 	font-size: 15px;
	 }

	 .connected {
	 	left: 40%;
	 }

	 #email-notes {
	 	font-size: 15px;
	 }

	 .comment-form-cookies-consent {
	 	line-height: 25px;
	 }

	 #email-notes, 
	 .comment-notes {
	 	line-height: 30px;
	 	padding: 10px 0 0 0;
	 }

	 .form-submit {
	 	margin-left: 0;
	 	padding: 0;
	 }

	 .comments-area {
		width: 100%;
	}

	 .comment-form-author, 
	 .comment-form-email, 
	 .comment-form-url, 
	 .comment-form-cookies-consent {
	 	padding: 10px 0 0 0;
	 }

	 .comment-form-comment, 
	 .comment-form-author, 
	 .comment-form-email, 
	 .comment-form-url, 
	 .comment-form-cookies-consent {
	 	font-size: 14px;
	 }

	 .comment-form-comment {
	 	padding-bottom: 50px;
	 }

	 .widget_mc4wp_form_widget .widget-title {
	 	font-size: 22px;
	 }

	 .mc4wp-form-fields input[type="email"] {
	 	width: 100%;
	 }

	 #recent-posts-widget-with-thumbnails-5 {
	 	display: none;
	 }

	 .addtoany_content {
	 	left: auto;
	 	padding: 45px 0 115px 0px;
	 }

	 .connected {
	 	left: auto;
	 	padding: 38px 0 55px 0px;
	 }

	 .principal-post .title-post,
	 .principal-post .category,
	 .principal-post .single-post p {
	 	margin-left: 0;
	 }


	 .post-item-first .title-post {
	 	padding: 10px 0 50px 0;
	 }

	 .follow {
	 	padding-top: 15px;
	 }

}


@media (min-width:769px) and (max-width: 1024px) {
	.container {
		margin: 0 15px;
		width: calc(100% - 30px);
	}

	.pagina {
		width: 100%;
	}

	.image {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}

	.header {
		justify-content: flex-start;
	}

	nav ul li {
		padding-left: 90px;
	}

	.post-item-first {
		width: 100%;
	}

	.post-item-first .image {
		padding: 0;
	}

	.pagina {
		width: 100%;
	}

	.post {
		width: 100%;
	}

	.post-item:not(.post-item-first):nth-child(2n) {
		margin: 0 auto;
	}

	.post-item:not(.post-item-first):nth-child(2n+1) {
		margin: 0 auto;
	}

	.principal-post .post-categories {
		padding-top: 30px;
	}

	.principal-post {
		margin-bottom: 0;
	}

	.pagina2 .single-post,
	.pagina2 .category,
	.pagina2 .title-post {
		padding-left: 0;
	}

	.comment-body p,
	.fn {
		font-size: 14px;
		line-height: 30px;
	}

	.single-post img {
		width: 100%;
		height: auto;
	}

	.sidebar {
		padding-top: 50px;
	}

	.widget_text h3 {
		font-size: 20px;
	}

	.textwidget {
		font-size: 13px;
	}

	.widget-title {
		font-size: 16px;
	}

	.rpwwt-widget a, .rpwwt-widget a:hover {
		font-size: 14px !important;
	}

	.rpwwt-widget ul li img {
		width: 100% !important;
		height: auto !important;
		float: none !important;
		display: flex !important;
		margin: 20px 0 !important;
}

	#rpwwt-recent-posts-widget-with-thumbnails-5 .rpwwt-post-title {
		font-size: 16px;
	}

	.comment-form-comment textarea {
		width: 100%;
	}

	#recent-posts-widget-with-thumbnails-5 {
		width: 160%;
	}

	.connected,
	.addtoany_content {
		left: 105%;
	}

	.principal-post .title-post,
	.principal-post .category,
	.principal-post .single-post p {
	 	margin-left: 0;
	 }

	 .footer ul {
	 	margin: 0 30px;
	 }

	 .title-post {
	 	font-size: 25px;
	 }

	 .post,
	 .post p {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #7d7d7d;
	text-align: left;
	line-height: 1.714;
	}

	.comment-respond-form {
		flex-direction: column;
	}

	.comments-area {
		width: 100%;
	}

	
}