html, 
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}


.full-container {
	margin: 0 auto;
	padding: 0 0 100px 0;
	width: 1062px;
}
.container {
	margin: 0 auto;
	padding: 0;
	width: 1062px;
}