@media screen and (max-width:768px) {
   .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    position: relative;
    margin-right: 30px;
  }

  .hamburger span {
    width: 100%;
    height: 4px;
    background-color: #626262;
    display: block;
  }

  .hamburger:before, .hamburger:after {
    width: 100%;
    height: 4px;
    background-color: #626262;
    display: block;
    position: absolute;
    left: 0;
    content: "";
  }

  .hamburger:before {
    top: 0;
  }

  .hamburger:after {
    bottom: 0;
  }

  .menu-menu-1-container {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }